/* icon.scss */
@font-face {
  font-family: "FontAwesome";
  /* 自行安装第三方字体图标库 */
  src: url("./assets/fonts/fontawesome-webfont.eot");
  src: url("./assets/fonts/fontawesome-webfont.woff2") format("woff2"),
    url("./assets/fonts/fontawesome-webfont.woff") format("woff"),
    url("./assets/fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* 根据第三方字体图标库编写 */
/* 举例：fa 就是 prefixClass 的值，下面的的图标 css class 命名都要用 fa- 开头  */
.fa {
  display: inline-block;
  /* 以下的 font 与上面 @font-face 的 font-family 要一致*/
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//卡片组件的可视图标
.fa-eye:before {
  content: "\f06e";
}
//卡片组件的不可视图标
.fa-eyeTrash:before {
  content: "\f070";
}
//卡片组件的复制图标
.fa-copy:before {
  content: "\f0c5";
}
//卡片组件的垃圾箱图标
.fa-trash:before {
  content: "\f1f8";
}
